body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2aa52;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.donation-form {
    background-color: #eee;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
    margin-top: 200px;

}

.donation-form h2 {
    margin-top: 0;
}

.donation-form label,
.donation-form input,
.donation-form button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.donation-form button {
    padding: 10px;
    background-color: #f2aa52;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.benefits {
    margin-top: 30px;
    text-align: center;
}

