body {
    background-color: #f5f5f5;
    margin-bottom: 80px; /* Adicionei uma margem inferior para acomodar o Footer */
}

.navbar {
    background-color: #F2AA52;
    padding: 15px 0;
}

#forum-container {
    max-width: 800px;
    margin: 80px auto 20px; /* Adicionei margem superior para acomodar a Navbar */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px; /* Adicionei uma margem inferior para acomodar o Footer */
}

.user-sidebar {
    text-align: center;
}

.user-avatar-sidebar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 5px solid #212121;
    margin-bottom: 20px;
}

.user-info {
    color: #55038C;
}

.main-comments {
    background-color: #F2AA52;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}

.post {
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.footer {
    background-color: #F2AA52;
    padding: 20px 0;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}