body {
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer {
    clear: both;
    text-align: right;
    background-color: #F2AA52;
    color: #55038C;
    padding: 10px;
    font-size: small;
}